<#assign licenseFirst = "/*">
<#assign licensePrefix = " * ">
<#assign licenseLast = " */">
<#if licensePath?? && licensePath != "">
<#include "${project.licensePath}">
</#if>

/**
 * Date Created: ${date}
 *
 */

<#if package?? && package != "">
package ${package};
</#if>

import com.gwtplatform.dispatch.rpc.shared.Result;

/**
 *
 * @author ${user}
 */
public class ${targetName}Result implements Result {

    public ${targetName}Result() {
    }

}