<#assign licenseFirst = "/*">
<#assign licensePrefix = " * ">
<#assign licenseLast = " */">
<#if licensePath?? && licensePath != "">
<#include "${project.licensePath}">
</#if>

/**
 * Date Created: ${date}
 *
 */

<#if package?? && package != "">
package ${package};
</#if>

import com.gwtplatform.mvp.client.UiHandlers;

/**
 *
 * @author ${user}
 */
interface ${targetName}UiHandlers extends UiHandlers {
}
